# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/
android/app/release/app-release.apk
android/app/release/output-metadata.json
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/AwesomeTSProject/filemock.js.html
coverage/lcov-report/AwesomeTSProject/index.html
coverage/lcov-report/AwesomeTSProject/src/api/getPokemon/index.html
coverage/lcov-report/AwesomeTSProject/src/api/getPokemon/index.ts.html
coverage/lcov-report/AwesomeTSProject/src/api/getPokemonDetails/index.html
coverage/lcov-report/AwesomeTSProject/src/api/getPokemonDetails/index.ts.html
coverage/lcov-report/AwesomeTSProject/src/components/Login/index.html
coverage/lcov-report/AwesomeTSProject/src/components/Login/index.styles.tsx.html
coverage/lcov-report/AwesomeTSProject/src/components/Login/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/components/PokemonDetail/index.html
coverage/lcov-report/AwesomeTSProject/src/components/PokemonDetail/index.styles.ts.html
coverage/lcov-report/AwesomeTSProject/src/components/PokemonDetail/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/components/PokemonList/index.html
coverage/lcov-report/AwesomeTSProject/src/components/PokemonList/index.styles.ts.html
coverage/lcov-report/AwesomeTSProject/src/components/PokemonList/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/components/Profile/index.html
coverage/lcov-report/AwesomeTSProject/src/components/Profile/index.styles.tsx.html
coverage/lcov-report/AwesomeTSProject/src/components/Profile/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/screens/LoginScreen/index.html
coverage/lcov-report/AwesomeTSProject/src/screens/LoginScreen/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/screens/PokemonDetailScreen/index.html
coverage/lcov-report/AwesomeTSProject/src/screens/PokemonDetailScreen/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/screens/ProfileScreen/index.html
coverage/lcov-report/AwesomeTSProject/src/screens/ProfileScreen/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/screens/RegisterScreen/index.html
coverage/lcov-report/AwesomeTSProject/src/screens/RegisterScreen/index.tsx.html
coverage/lcov-report/AwesomeTSProject/src/screens/SplashScreen/index.html
coverage/lcov-report/AwesomeTSProject/src/screens/SplashScreen/index.tsx.html
